/*********************\
 Coding To-Do List
\*********************/
/*
   1. Consider adding a "button" for something
*/



/*********************\
  Questions for Class
\*********************/
/*
   1. Why does my page seem skinniner than Raghu's and Don's even when I set the width to 960px? I had to increase width to 1100px to make it seem the same.
   2. How can I ensure alignment on the left and the right when I am using thirds or fifths + margins?
   3. Are there general rules of thumb for when to use Divs vs. when to use a table for page organization? I noticed that Raghu's page uses Divs, but then has a table for his profile pic and name.
*/



/*********************\
 General Site Style
\*********************/
body{
   font-family: 'Raleway', sans-serif;
   color: #333; /*dark grey*/
   text-align: center;
}

h1 {
   color: #f2f2f2; /*soft white*/
   font-size: 36px;
}

h2 {
   color: #e68a00; /*orange*/
   font-size: 22px;
}

ul{
   margin: auto;
   width: 50%;
   text-align: left;
}



/*********************\
 Cover Section Styling
\*********************/

.cover{
   width: 100%;
   background: url("Photos/cover.jpg") no-repeat center;
   background-size: cover;
   height: 375px;

}

.cover-profile{
   width: 50%;
   float: left;
   height: 375px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   padding-left: 75px;
   background-color: rgba(0,0,0,0.3);
}
.prof-pic{
   border: solid white 4px;
}

.cover-name{
   width: 50%;
   float: left;
   height: 375px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   padding-left: 165px;
   background-color: rgba(0,0,0,0.3);
}



/*********************\
  Body Section Styling
\*********************/
   /*Positioning*/
   .container{
      /*display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3px;*/
   }

   .main-content{
      width: 1100px;
      margin: auto;
   }

   .full-page, .table-full-page, .half-page-small, .half-page-large, .one-third-page {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 5px;
      padding-top: 5px;
      margin: auto;

      float: left;
      box-sizing: border-box;
   }
   /*Sizing*/
   .full-page, .table-full-page{
      width: 100%;
   }

   .half-page-small, .half-page-large{
      width: 50%;
   }
   .one-third-page{
      width: 33.3%;
   }


   /*Styling*/

   .half-page-small{
      border: 1px solid #ddd;
      height: 125px;
      /*padding: 5px;*/
   }

   .half-page-large{
      border: 1px solid #ddd;
      height: 400px;
      /*padding: 5px;*/
   }
   .one-third-page{
      height: 300px;
      display: flex;
   }

   .full-page, .half-page-small, .half-page-large, .one-third-page {
      border-top: 1px solid #e6e6e6;
      border-left: 1.5px solid #ddd;
      border-right: 1.5px solid #ddd;
      border-bottom: 1.5px solid #ddd;
      border-radius: 5px;
      transition: all .2s ease-in-out;
   }
   .one-third-page:hover, .full-page:hover, .half-page-small:hover, .half-page-large:hover{
      box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   }

   .pic{
      margin: auto;
   }
