/*********************\
 Coding To-Do List
\*********************/
/*
   1. Need to add Vine video
   2. Need to add Youtube video
   3. Consider adding a "button" for something

*/



/*********************\
 General Site Style
\*********************/
body{
   font-family: 'Raleway', sans-serif;
   color: 	#333;
   text-align: center;
}

ul{
   margin: auto;
   width: 50%;
   text-align: left;
}

h1 {
   color: #f2f2f2;
   font-size: 36px;
}

h2 {
   color: #e68a00;
   font-size: 22px;
}



/*********************\
 Cover Section Styling
\*********************/

.cover{
   width: 100%;
   background: url("Photos/cover.jpg") no-repeat center;
   background-size: cover;
   height: 375px;

}

.cover-profile{
   width: 50%;
   float: left;
   height: 375px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   padding-left: 75px;
   background-color: rgba(0,0,0,0.3);
}
.prof-pic{
   border: solid white 4px;
}

.cover-name{
   width: 50%;
   float: left;
   height: 375px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   padding-left: 165px;
   background-color: rgba(0,0,0,0.3);
}

/*********************\
  Body Section Styling
\*********************/

.excited{
   font-style: italic;
}

.main-content{
   width: 1100px;
   margin: auto;
   border-spacing: 10px;
}
.full-page{
   width: 100%;
   box-sizing: border-box;
   float: left;
}
.table-full-page{
   width: 100%;
   box-sizing: border-box;
   float: left;
}
.quarter-page{
   width: 25%;
   box-sizing: border-box;
   float: left;
   border: 1px solid #ddd;
}
.half-page{
   width: 50%;
   box-sizing: border-box;
   float: left;
   border: 1px solid #ddd;
   height: 125px;
}
.one-third-page{
   width: 32.5%;
   margin: 0.4%;
   box-sizing: border-box;
   float: left;
   height: 300px;
   display: flex;
}
.full-page, .half-page, .quarter-page, .one-third-page, .one-fifth-page {
   border-top: 1px solid #e6e6e6;
   border-left: 1.5px solid #ddd;
   border-right: 1.5px solid #ddd;
   border-bottom: 1.5px solid #ddd;
   border-radius: 5px;
}
.one-third-page:hover, .one-fifth-page:hover, .full-page:hover, .half-page:hover, .quarter-page:hover{
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.one-fifth-page{
   width: 20%;
   box-sizing: border-box;
   float: left;
   border: 1px solid #ddd;
}

.pic{
   margin: auto;
}
